@media (max-width: 767px) {
  .nc-CardAuthor {
    height: 100px; /* Đặt chiều cao cố định tùy chọn cho phần tử khi trang web được xem trên màn hình nhỏ */
    /* Các thuộc tính CSS khác nếu cần */
  }
}

.nc-CardAuthor {
  height: 100px; /* Đặt chiều cao cố định tùy chọn cho phần tử */
  /* Các thuộc tính CSS khác nếu cần */
}